{{template "header" .}}
<div class="container-fluid py-4 my-2">
  <!-- badges -->
  <div class="row p-2 gx-2">
    <!-- MAYOR -->
    <div class="col-md-4">
      <div class="p-3 bg-white shadow-sm  rounded shadow border border-1 h-100">
        <div class="row">
          <div class="col-md-9 border-end">
            <h1 class="fs-1 text-end">0</h1>
            <p class="fs-5 text-end">TOTAL NO. OF REGULAR SESSIONS</p>  
          </div>
          <div class="col-md-3 p-3">
            <img class="img-fluid" src="/regularsession.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-3 bg-white shadow-sm  rounded shadow border border-1 h-100">
        <div class="row">
          <div class="col-md-9 border-end">
            <h1 class="fs-1 text-end">0</h1>
            <p class="fs-5 text-end">TOTAL NO. OF SPECIAL SESSIONS</p>  
          </div>
          <div class="col-md-3 p-3">
            <img class="img-fluid" src="/specialsession.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-3 bg-white shadow-sm  rounded shadow border border-1 h-100">
        <div class="row">
          <div class="col-md-9 border-end">
            <h1 class="fs-1 text-end">{{.agendas}}</h1>
            <p class="fs-5 text-end">TOTAL NO. FOR AGENDA</p>  
          </div>
          <div class="col-md-3 p-3">
            <img class="img-fluid" src="/ordinance.png" alt="">
          </div>
        </div>
      </div>
    </div>
    
    <!-- bdges end -->
  </div>
  <div class="row p-2 gx-2">
    <div class="col-md-2 p-2 pt-md-5 text-center">
      <div class="pb-md-5"><small><i class="fa-solid fa-share-from-square"></i> QUICK ACCESS</small></div>
      <a class="nav-link fw-bold" href="/api/routing/foragenda" role="button"><img src="/add-file.png" alt="..." class="dashboard-img"><br/>
      <h5 class="mb-md-5">REGISTER</h5></a>
      <a class="nav-link fw-bold" href="/api/tracking" role="button"><img src="/search.png" alt="..." class="dashboard-img"><br/>
      <h5 class="mb-md-3">SEARCH</h5></a>
    </div>
    <div class="col-md-10 p-2 border-start">
      <div class="container-fluid py-2 table-responsive">
        <div class="text-center pb-md-2"><small><i class="fa-solid fa-bell"></i> NOTIFICATIONS</small></div>
        <table id="notif_table" class="table table-hover table-sm table-borderless" style="width:100%">
             <tbody>
                {{range .notifs}}
                <tr class="border-bottom py-2">
                    <td >{{if eq .DocumentTag "For Agenda"}}<i class="fa-solid fa-business-time"></i>{{end}}
                      {{if eq .DocumentTag "For Information - Admin Div"}}<i class="fa-solid fa-circle-info"></i>{{end}}
                      {{if eq .DocumentTag "For Information - Dept. Head"}}<i class="fa-solid fa-circle-info"></i>{{end}}
                      {{if eq .DocumentTag "For Filing"}}<i class="fa-solid fa-boxes-packing"></i>{{end}}
                      {{ .Summary}} is {{.Remarks}} {{.DocumentTag}} </td>
                    <td class="text-end text-nowrap"><i class="fa-solid fa-calendar-days"></i> {{ .ReceiveDate}} </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    </div>
  </div>

  {{if eq .registrationStatus 100}}
  <script>
        Swal.fire(
            'Welcome',
            'Login successful.',
            'Success'
        )
    </script>
  {{end}}

  {{template "footer" .}}

  