{{template "header" .}}
<!-- DATATABLE -->
<!-- ONLINE -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<!-- OFFLINE -->
<link rel="stylesheet" type="text/css" href="/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="/jquery.dataTables.js"></script>
<nav class="navbar navbar-expand-lg bg-body-tertiary border mb-3">
  <div class="container-fluid row justify-content-md-start">
    <div class="col-md-8">
      <small><a class="navbar-brand " href="/api/routing"><i class="bi bi-calendar-week"></i> DOCUMENT
          TRACKING</a></small>
    </div>
  </div>
</nav>
<div class="row m-1 py-1">
  <form class="row" action="/api/tracking/search" method="post" enctype="multipart/form-data" id="trackingForm"
    name="trackingForm" autocomplete="off">
    <div class="col-md-5">
      <div class="form-floating">
        <select class="form-select" id="motionedBy" name="motionedBy">
          <option selected disabled>Select</option>
          {{ range .proponents}}
          <option value="{{.Name}}">{{.Name}}</option>
          {{end}}
        </select>
        <label for="motionedBy">Motioned By</label>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-floating">
        <select class="form-select" id="author" name="author">
          <option selected disabled>Select</option>
          {{ range .proponents}}
          <option value="{{.Name}}">{{.Name}}</option>
          {{end}}
        </select>
        <label for="author">Author</label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="d-grid gap-2 d-md-block py-2">
        <button class="btn btn-primary fw-bold" id="reset" name="reset"><i class="fa-solid fa-repeat"></i>
          RESET</button>
        <button class="btn btn-success fw-bold" id="apply" name="apply"><i class="fa-solid fa-search"></i>
          APPLY</button>
      </div>
    </div>

    <div class="container-fluid py-3 table-responsive-sm">
      <table id="tracking-table" class="table table-striped table-borderless table-hover table-sm py-2"
        style="width:100%">
        <thead>
          <tr>
            <th class="text-center"><small>TRACKING NUMBER</small></th>
            <th class="text-center"><small>ITEM NUMBER</small></th>
            <th class="text-center"><small>LAW NO</small></th>
            <th class="text-center"><small>SUMMARY</small></th>
            <th class="text-center"><small>RECEIVED</small></th>
            <th class="text-center"><small>CALENDARED</small></th>
            <th class="text-center"><small>ENACTED</small></th>
            <th class="text-center"><small>FWD.MAYOR</small></th>
            <th class="text-center"><small>FWD.STA.CRUZ</small></th>
            <th class="text-center"><small>RELEASED</small></th>
            <th class="text-center"><small>PUBLISHED</small></th>
            <th class="text-center"><small>FILED</small></th>
            <th class="text-center"><small>ACTION</small></th>
          </tr>
        </thead>
        <tbody>
          {{range .tracking}}
          <tr>
            <td class="text-center"><small>{{ .TrackingNumber}}</small></td>
            <td class="text-center"><small>{{ .ItemNumber}}</small></td>
            {{if .LawType}}
            <td class="text-center"><small>{{ .LawType }} No.{{ .LawNumber }} s.{{.Series}}</small></td>
            {{else}}
            <td class="text-center"><small></small></td>
            {{end}}
            <td><small>{{ .Summary}}</small></td>
            <td class="text-center"><small>{{ .ReceivedDate}}</small></td>
            <td class="text-center"><small>{{ .Calendared}}</small></td>
            <td class="text-center"><small>{{ .EnactedDate}}</small></td>
            <td class="text-center"><small>{{ .MayorDate}}</small></td>
            <td class="text-center"><small>{{ .StaCruzDate}}</small></td>
            <td class="text-center"><small>{{ .ReleasedDate}}</small></td>
            <td class="text-center"><small>{{ .PublishedDate}}</small></td>
            <td class="text-center"><small>{{ .FiledDate}}</small></td>
            <td class="text-center">
              <div class="d-grid gap-2 d-md-block">
                <!-- view -->
                <a href class="btn btn-success btn-sm fw-bold" type="button"><i class="fa-solid fa-eye"></i>
                </a>
              </div>
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </form>


  <script>
    $(document).ready(function () {
      $('#tracking-table').DataTable({
        searching: true,
        order: [[3, 'desc']]
      });
    });
  </script>

  <script>
    $(document).ready(function () {
      $("#apply").click(function () {
        var endpoint = baseURL + "/api/tracking/search"
        $.post(endpoint,
          {
            motionedBy: motionedBy,
            author: author,
          },
          function (response, status) {
            if (response.status == 100) {
            }
          }
        );
      });

      $("#reset").click(function () {
        $("#reset").click(function () {
          var endpoint = baseURL + "/api/tracking/search"
          $.post(endpoint,
            {
              motionedBy: motionedBy,
              author: author,
            },
            function (response, status) {
              if (response.status == 100) {
              }
            }
          );
        });
      });
    });
  </script>
  {{template "footer" .}}