{{template "header" .}}
<input type="text" id="baseURL" value="{{.baseURL}}" readonly hidden>
<nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="bi bi-calendar-week"></i> DOCUMENT - FILING CABINET</a>
    </div>
</nav>

<div class="container-fluid py-2 shadow mb-3">
    <!-- ROUTINGS -->
    <div class="accordion" id="accordionRouting">
        <div class="accordion-item">
            <h2 class="accordion-header" id="receiving">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseReceiving" aria-expanded="true" aria-controls="collapseReceiving">
                    RECEIVING
                </button>
            </h2>
            <div id="collapseReceiving" class="accordion-collapse collapse show" aria-labelledby="receiving"
                data-bs-parent="#accordionRouting">
                <div class="accordion-body">
                    <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse
                    plugin adds the appropriate classes that we use to style each element. These classes control the
                    overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of
                    this with custom CSS or overriding our default variables. It's also worth noting that just about any
                    HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="agenda">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseAgenda" aria-expanded="false" aria-controls="collapseAgenda">
                    AGENDA
                </button>
            </h2>
            <div id="collapseAgenda" class="accordion-collapse collapse" aria-labelledby="agenda"
                data-bs-parent="#accordionRouting">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the
                    collapse plugin adds the appropriate classes that we use to style each element. These classes
                    control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                    modify any of this with custom CSS or overriding our default variables. It's also worth noting that
                    just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit
                    overflow.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="approved">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseApproved" aria-expanded="false" aria-controls="collapseApproved">
                    APPROVED
                </button>
            </h2>
            <div id="collapseApproved" class="accordion-collapse collapse" aria-labelledby="approved"
                data-bs-parent="#accordionRouting">
                <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                    collapse plugin adds the appropriate classes that we use to style each element. These classes
                    control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                    modify any of this with custom CSS or overriding our default variables. It's also worth noting that
                    just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit
                    overflow.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="releasing">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseReleasing" aria-expanded="false" aria-controls="collapseReleasing">
                    RELEASING
                </button>
            </h2>
            <div id="collapseReleasing" class="accordion-collapse collapse" aria-labelledby="releasing"
                data-bs-parent="#accordionRouting">
                <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                    collapse plugin adds the appropriate classes that we use to style each element. These classes
                    control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                    modify any of this with custom CSS or overriding our default variables. It's also worth noting that
                    just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit
                    overflow.
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!-- END OF ROUTINGS -->
    <form class="row" action="#" method="post" enctype="multipart/form-data">
        <div class="col-md-2">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="cabinet" name="cabinet" required>
                <label for="cabinet">File Folder/Cabinet No.</label>
            </div>
        </div>
        <div class="col-md-2">
            <select class="form-select mb-3" size="2" id="folders" name="folders" required>
                <option disabled>Select Folder</option>
                {{range .folders}}
                <option value={{.Name}}>{{.Name}}</option>
                {{end}}
                <option value="new">ADD NEW</option>
            </select>
        </div>
        <div class="col-md-2">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="folders" name="cabinet">
                <label for="cabinet">New Folder Name</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="DateFiled" name="DateFiled" required>
                <label for="DateFiled">Date Filed</label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-floating mb-3 ">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="isBorrowed" name="isBorrowed">
                    <label class="form-check-label" for="isBorrowed">
                        Is borrowed?
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="dateBorrowed" name="dateBorrowed">
                <label for="dateBorrowed">Date Borrowed</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="borrower" name="borrower">
                <label for="borrower">Borrower</label>
            </div>
        </div>
    </form>
</div>

{{template "footer" .}}