{{template "header" .}}
<!-- DATATABLE -->
<!-- ONLINE -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8-beta.17/jquery.inputmask.min.js"
    integrity="sha512-zdfH1XdRONkxXKLQxCI2Ak3c9wNymTiPh5cU4OsUavFDATDbUzLR+SYWWz0RkhDmBDT0gNSUe4xrQXx8D89JIQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<!-- OFFLINE -->
<link rel="stylesheet" type="text/css" href="/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="/jquery.dataTables.js"></script>
<nav class="navbar navbar-expand-lg bg-body-tertiary border">
    <div class="container-fluid">
        <small class="fw-bold">REGISTER NEW DOCUMENT - RECEIVING</small>
    </div>
</nav>

<div class="container-fluid py-2 shadow">
    <form class="row" action="/api/routing/register_receiving" method="post" enctype="multipart/form-data"
        id="forReceiving" name="forReceiving">
        <div class="col-md-3">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="trackingNumber" name="trackingNumber"
                    placeholder="1111-1111-11-1111" required>
                <label for="trackingNumber">Tracking Number</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="receivedDate" name="receivedDate">
                <label for="receivedDate">Date</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-floating mb-3">
                <input type="time" class="form-control" id="receivedTime" name="receivedTime" required>
                <label for="receivedTime">Time</label>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="receiver" name="receiver" value="{{.user}}" required
                    readonly>
                <label for="receiver">Receiver</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="description" name="description" required>
                <label for="summary">Description</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating mb-4">
                <textarea class="form-control" id="summary" name="summary" style="height: 100px" required></textarea>
                <label for="summary">Summary</label>
            </div>
        </div>
        <div class="col-md-5">
            <div class="mb-3">
                <label for="receivedFile" id="receivedFileLabel" class="form-label">Attach received
                    file</label>
                <input class="form-control form-control-sm" id="receivedFile" name="receivedFile" type="file"
                    accept="application/pdf,image/jpeg,,image/png" required>
            </div>
        </div>
        <hr>
        <div class="col-md-12 mb-2">
            <small><button id="submitBtn" name="submitBtn" class="btn btn-success fw-bold btn-sm" type="button"><i
                        class="fa-solid fa-floppy-disk"></i> SAVE
                    DOCUMENT</button></small>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $("#submitBtn").click(function () {
            console.log("Submit Receiving")
            var fileReceived = $('#receivedFile').val();
            var trackingNumber = $('#trackingNumber').val();
            var noSC = trackingNumber.replace(/([-,.€~!@#$%^&*()_+=`{}\[\]\|\\:;'<>])+/g, '');
            var trackingNumberLen = noSC.length;

            if (fileReceived == "") {
                Swal.fire(
                    'Saving record error',
                    'Please attach the received file',
                    'info'
                )
                label = document.getElementById("receivedFileLabel");
                label.style.color = "red";
            } else if (trackingNumber == "") {
                Swal.fire(
                    'Saving record error',
                    'Tracking number is empty',
                    'info'
                )
                document.getElementById("item_no").focus()
            } else if (trackingNumberLen < 14) {
                Swal.fire(
                    'Saving record error',
                    'Tracking number must be 14 digits',
                    'info'
                )
                document.getElementById("trackingNumber").focus()
            } else {
                Swal.fire({
                    title: "Do you want to save this record?",
                    icon: "question",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Save"
                }).then((result) => {
                    /* Read more about isConfirmed, isDenied below */
                    if (result.isConfirmed) {
                        Swal.fire("Saved!", "", "success");
                        $("#forReceiving").submit(); // Submit the form
                    } else if (result.isDenied) {
                        Swal.fire("Cancel saving record", "", "info");
                    }
                });
            }
        });
        $("#trackingNumber").inputmask("9999-9999-99-9999");
    });
</script>

{{template "footer" .}}