{{template "header" .}}
<!-- DATATABLE -->
<!-- ONLINE -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<!-- OFFLINE -->
<link rel="stylesheet" type="text/css" href="/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="/jquery.dataTables.js"></script>
<nav class="navbar navbar-expand-lg bg-body-tertiary border mb-3">
    <div class="container-fluid row justify-content-md-end">
        <div class="col-md-12">
            <small>
                <a class="navbar-brand">
                    <i class="bi bi-calendar-week"></i> ROUTING DOCUMENT TABLE
                </a>
            </small>
        </div>
    </div>
</nav>

<div class="container-fluid py-2 shadow table-responsive">
    <table id="example" class="table table-striped table-hover table-sm" style="width:100%">
        <thead>
            <tr>
                <th class="text-center">DATE RECEIVED</th>
                <th class="text-center">TRACKING NUMBER</th>
                <th class="text-center">ITEM NUMBER</th>
                <th class="text-center">DOCUMENT SUMMARY</th>
                <th class="text-center">DOCUMENT TAG</th>
                <th class="text-center">REMARKS</th>
                <th class="text-center">ACTION</th>
            </tr>
        </thead>
        <tbody>
            {{range .viewRoutings}}
            <tr>
                <td>{{ .ReceivedDate}}</td>
                <td>{{ .TrackingNumber}}</td>
                <td>{{ .ItemNumber}}</td>
                <td>{{ .Summary}}</td>
                <td>{{ .DocumentTag}}</td>
                <td>{{ .Remarks}}</td>
                <td class="row">
                    {{if .ItemNumber }}
                    <div class="d-grid gap-2 col-md-6 mx-auto">
                        <!-- view -->
                        <a href="/api/routing/viewagenda/{{.DocId}}/{{.ItemNumber}}"
                            class="btn btn-primary btn-sm fw-bold" type="button"><i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </div>
                    {{else}}
                    <div class="d-grid gap-2 col-md-6 mx-auto">
                        <!-- encode -->
                        <a href="/api/routing/foragenda/{{.DocId}}" class="btn btn-success btn-sm fw-bold"
                            type="button"><i class="fa-solid fa-pen"></i>
                        </a>
                    </div>
                    {{end}}
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            order: [[1, 'desc']]
        });
    });
</script>

{{if eq .status 100}}
<script>
    Swal.fire(
        'Registration completed',
        'Adding receiving document is successful.',
        'Success'
    )
</script>
{{end}}
{{template "footer" .}}