{{template "header" .}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8-beta.17/jquery.inputmask.min.js"
    integrity="sha512-zdfH1XdRONkxXKLQxCI2Ak3c9wNymTiPh5cU4OsUavFDATDbUzLR+SYWWz0RkhDmBDT0gNSUe4xrQXx8D89JIQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<input type="text" id="baseURL" value="{{.baseURL}}" readonly hidden>
<nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="bi bi-calendar-week"></i> FOR AGENDA</a>
    </div>
</nav>

<div class="container-fluid py-2 shadow mb-3">
    <!-- RECEIVING -->
    <div class="row border-bottom">
        {{range .viewRoutings}}
        <span class="badge bg-secondary my-2 fw-bold">RECEIVING - Encoder: {{.Encoder}}</span>
        <div class="col-md-4">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="trackingNumberx" name="trackingNumberx"
                    value="{{ .TrackingNumber}}" disabled>
                <label for="trackingNumberx">Tracking Number</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="receivedDate" name="receivedDate" value="{{.ReceivedDate}}"
                    disabled>
                <label for="receivedDate">Date</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="receivedTime" name="receivedTime" value="{{.ReceivedTime}}"
                    disabled>
                <label for="receivedTime">Time</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="receiver" name="receiver" value="{{.Receiver}}" disabled>
                <label for="receiver">Receiver</label>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="summary" name="summary" value="{{.Summary}}" disabled>
                <label for="summary">Summary</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="recevingDocumentTag" name="recevingDocumentTag"
                    value="{{.DocumentTag}}" disabled>
                <label for="recevingDocumentTag">Document Tag</label>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="receivedFile" name="receivedFile" value="{{.ReceivedFile}}"
                    disabled>
                <label for="receivedFile">Received File</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="receivingRemarks" name="receivingRemarks"
                    value="{{.Remarks}}" disabled>
                <label for="receivingRemarks">Receiving Remarks</label>
            </div>
        </div>
    </div>
    <!-- FOR AGENDA -->
    <form class="row" action="/api/routing/register_agenda" method="post" enctype="multipart/form-data" id="forAgenda"
        name="forAgenda">
        <span class="badge bg-secondary my-2 fw-bold">AGENDA</span>
        <input type="text" id="trackingNumber" name="trackingNumber" value="{{ .TrackingNumber}}" hidden readonly>
        {{end}}
        <input type="text" id="docId" name="docId" value="{{ .docId}}" hidden readonly>
        <div class="col-md-1">
            <div class="input-group mb-3">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="is_urgent" name="isUrgent">
                    <label class="form-check-label" for="is_urgent">Urgent Document</label>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group mb-3">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="item_no" name="ItemNumber" autocomplete="false"
                        required>
                    <label for="item_no">Item Number</label>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="date_calendared" name="dateCalendared" required>
                <label for="date_calendared">Date Calendared</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="date_reported" name="dateReported">
                <label for="date_reported">Date Reported</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-floating">
                <select class="form-select" id="source" name="source" required>
                    <option disabled>Select Source</option>
                    <option selected value="1">Other Department</option>
                    <option value="2">Priviledged Speech</option>
                    <option value="3">Proposed</option>
                    <option value="4">Other</option>
                </select>
                <label for="source">Source</label>
            </div>
        </div>
        <div class="col-md-4 src" id="cb_department">
            <div class="form-floating">
                <select class="form-select" id="department" name="department">
                    <option selected disabled>Select Department</option>
                    {{range .departments}}
                    <option value={{.Name}}>{{.Name}}</option>
                    {{end}}
                </select>
                <label for="department">Department</label>
            </div>
        </div>
        <div class="col-md-4 src" id="cb_proponent">
            <div class="form-floating">
                <select class="form-select" id="proponent" name="proponent">
                    <option selected disabled>Select Proponent</option>
                    {{range .proponents}}
                    <option value={{.Name}}>{{.Name}}</option>
                    {{end}}
                </select>
                </select>
                <label for="proponent">Proponent</label>
            </div>
        </div>
        <div class="col-md-4 src" id="cb_other">
            <div class="input-group mb-3">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="other" name="other" autocomplete="false" required>
                    <label for="other">Other</label>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-floating">
                <select class="form-select" id="agendaTag" name="agendaTag" required>
                    <option selected disabled>Select Action</option>
                    <option value="1">For information of the whole body</option>
                    <option value="2">Referred to Committee</option>
                    <option value="3">Approved</option>
                </select>
                <label for="agendaTag">Document Tag</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="agendaRemarks" name="agendaRemarks" required readonly>
                <label for="agendaRemarks">Remarks</label>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-floating">
                <select class="form-select" id="committees" name="committees" required>
                    <option selected disabled>Select Committee</option>
                    {{range .committees}}
                    <option value={{.CommitteeId}}>{{.Name}}</option>
                    {{end}}
                </select>
                <label for="committees">Committees</label>
            </div>
        </div>
        <div class="col-md-1 py-1">
            <div class="d-grid gap-2">
                <button id="add_committee" class="btn btn-success btn-lg" type="button"><i
                        class="fa-solid fa-turn-down"></i></button>
            </div>
        </div>
        <hr>
        <div class="col-md-12">
            <table class="table table-striped table-hover border">
                <thead>
                    <tr>
                        <th colspan="2">COMMITTEE LIST</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="gap-2 col-md-12 mx-auto">
            <small><button id="submitBtn" name="submitBtn" class="btn btn-success fw-bold btn-sm mx-2" type="button"><i
                        class="fa-regular fa-floppy-disk"> SAVE</i>
                    DOCUMENT</button></small>
            <small><a href="/api/routing/secretariat" class="btn btn-danger fw-bold btn-sm"><i
                        class="fa-regular fa-hand"> CANCEL</i> </a></small>
        </div>
    </form>

</div>

<script>
    $(document).ready(function () {
        $("#cb_proponent").hide();
        $("#cb_other").hide();
        $('#source').on('change', function () {
            var sourceValue = $(this).val();
            if (sourceValue == '1') {
                $("#cb_proponent").hide();
                $("#cb_department").show();
                $("#cb_other").hide();
                document.getElementById("department").focus();
            } else if (sourceValue == '2') {
                $("#cb_proponent").show();
                $("#cb_department").hide();
                $("#cb_other").hide();
                document.getElementById("proponent").focus();
            } else if (sourceValue == '3') {
                $("#cb_proponent").show();
                $("#cb_department").hide();
                $("#cb_other").hide();
                document.getElementById("proponent").focus();
            } else if (sourceValue == '4') {
                $("#cb_proponent").hide();
                $("#cb_department").hide();
                $("#cb_other").show();
                document.getElementById("other").focus();
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#agendaTag").change(function () {
            var selectedValue = document.getElementById("agendaTag").value
            if (selectedValue == "1") {
                document.getElementById("agendaRemarks").value = "Forwarded to Records";
            } else if (selectedValue == "2") {
                document.getElementById("agendaRemarks").value = "Kept in Secretariat";
            }
            else if (selectedValue == "3") {
                document.getElementById("agendaRemarks").value = "Forwarded to Records";
            }
        });

        $("#submitBtn").click(function () {
            Swal.fire({
                title: "Do you want to save this record?",
                icon: "question",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Save"
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    $("#forAgenda").submit(); // Submit the form
                } else if (result.isDenied) {
                    Swal.fire("Cancel saving record", "", "info");
                }
            });
        });

        $("#item_no").inputmask("9999-9999");
    });
</script>

<script>
    $(document).ready(function () {
        $("#add_committee").click(function () {
            var committeeId = $('#committees').find(":selected").val(); 
            var committeeName = $('#committees').find(":selected").text();
            var itemNumber = $('#item_no').val();
            var userId = $('#userId').val();
            var baseURL = $('#baseURL').val();
            var endpoint = baseURL + "/api/routing/add_committee"

            var noSC = itemNumber.replace(/([-,.€~!@#$%^&*()_+=`{}\[\]\|\\:;'<>])+/g, '');
            var itemNumberLen = noSC.length;

            if (itemNumber == "") {
                Swal.fire(
                    'Adding Error',
                    'Item number is empty',
                    'info'
                )
                document.getElementById("item_no").focus()
            } else if(itemNumberLen < 8){
                Swal.fire(
                    'Adding Error',
                    'Item number must be 8 digits',
                    'info'
                )
                document.getElementById("item_no").focus()
            } else {
                $.post(endpoint, {
                    itemNumber: itemNumber,
                    committeeId: committeeId,
                    userId: userId
                },
                    function (response, status) {
                        if (response.status == 100) {
                            var markup =
                                `<tr>
                                <td>` + response.data['name'] + `</td>
                                <td>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <button id="remove_committee" name="remove_committee" class="btn btn-danger btn-sm fw-bold" type="button">
                                            <i class="fa-solid fa-trash" id="remove_committee"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>`;
                            $("table tbody").append(markup);
                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 2000,
                                timerProgressBar: true,
                            });
                            Toast.fire({
                                icon: "success",
                                title: response.message,
                            });
                        } else {
                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 2000,
                                timerProgressBar: true,
                            });
                            Toast.fire({
                                icon: "error",
                                title: response.message,
                            });
                        }
                    }
                );
            }
        });

        $("#remove_committee").click(function () {
            const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 2000,
                timerProgressBar: true,
            });
            Toast.fire({
                icon: "success",
                title: "Testing response",
            });
        });

    });

</script>

{{template "footer" .}}