{{define "routingTable"}}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

<div class="container-fluid table-responsive">
    <table id="routing_lists" class="table table-borderless table-hover table-sm">
        <thead>
            <tr>
                <th class="text-center"><small>DATE RECEIVED</small></th>
                <th class="text-center"><small>TRACKING NUMBER</small></th>
                <th class="text-center"><small>ITEM NUMBER</small></th>
                <th class="text-center"><small>DOCUMENT SUMMARY</small></th>
                <th class="text-center"><small>DOCUMENT TAG</small></th>
                <th class="text-center"><small>REMARKS</small></th>
                <th class="text-center"><small>LAST UPDATE</small></th>
                <th class="text-center"><small>ACTION</small></th>
            </tr>
        </thead>
        <tbody>
            <!-- FOR RECORDS -->
            {{if eq .userLogged "SPCRD"}}
            {{range .viewRoutings}}
            <tr>
                <td class="text-center small">{{.ReceivedDate}}</td>
                <td class="text-center small">{{.TrackingNumber}}</td>
                {{if .ItemNumber}}
                <td class="text-center small">{{.ItemNumber}}</td>
                {{else}}
                <td class="text-center small">None</td>
                {{end}}
                <td class="small">{{.Summary}}</td>
                <td class="text-center small">{{.DocumentTag}}</td>
                <td class="text-center small">{{.Remarks}}</td>
                <td class="text-center small" id="updated_at">{{.UpdatedAt}}</td>
                <td class="text-center small">
                    <div class="d-grid gap-2 d-md-block">
                        <!-- encode -->
                        {{if eq .DocumentTag "Approved"}}
                        <a href="/api/routing/approved/{{.DocId}}/{{.ItemNumber}}"
                            class="btn btn-primary btn-sm fw-bold" type="button"><i class="fa-regular fa-thumbs-up"></i>
                        </a>
                        {{end}}
                        {{if eq .DocumentTag "For information of the whole body"}}
                        <a href="/api/routing/filing/{{.DocId}}/{{.ItemNumber}}"
                            class="btn btn-primary btn-sm fw-bold" type="button"><i class="fa-regular fa-thumbs-up"></i>
                        </a>
                        {{end}}
                        {{if eq .DocumentTag "For Releasing"}}
                        {{if eq .Remarks "Kept in Records"}}
                        <a href="/api/routing/releasing/{{.DocId}}/{{.ItemNumber}}"
                            class="btn btn-primary btn-sm fw-bold" type="button"><i
                                class="fa-regular fa-paper-plane"></i>
                        </a>
                        {{end}}
                        {{if eq .Remarks "Forwarded to Mayor"}}
                        <a href="/api/routing/update_releasing/{{.DocId}}/{{.ItemNumber}}"
                            class="btn btn-primary btn-sm fw-bold" type="button"><i
                                class="fa-regular fa-paper-plane"></i>
                        </a>
                        {{end}}
                        {{if eq .Remarks "Approved by Mayor"}}
                        <a href="/api/routing/update_releasing/{{.DocId}}/{{.ItemNumber}}"
                            class="btn btn-primary btn-sm fw-bold" type="button"><i class="fa-regular fa-thumbs-up"></i>
                        </a>
                        {{end}}
                        {{if eq .Remarks "Forwarded to Panlalawigan"}}
                        <a href="/api/routing/update_releasing/{{.DocId}}/{{.ItemNumber}}"
                            class="btn btn-primary btn-sm fw-bold" type="button"><i
                                class="fa-regular fa-paper-plane"></i>
                        </a>
                        {{end}}
                        {{if eq .Remarks "Approved by Panlalawigan"}}
                        <a href="/api/routing/update_releasing/{{.DocId}}/{{.ItemNumber}}"
                            class="btn btn-primary btn-sm fw-bold" type="button"><i class="fa-regular fa-thumbs-up"></i>
                        </a>
                        {{end}}
                        {{end}}
                        {{if eq .DocumentTag "For Filing"}}
                        <a href="/api/routing/filing/{{.DocId}}/{{.ItemNumber}}" class="btn btn-primary btn-sm fw-bold"
                            type="button"><i class="fa-regular fa-folder-open"></i>
                        </a>
                        {{end}}
                        {{if eq .DocumentTag "Filed"}}
                        <a href="/api/routing/update_filing/{{.DocId}}/{{.ItemNumber}}" class="btn btn-primary btn-sm fw-bold"
                            type="button"><i class="fa-regular fa-folder-open"></i>
                        </a>
                        {{end}}
                        <!-- view -->
                        <a href="/api/view/{{.DocId}}/{{.ItemNumber}}" class="btn btn-success btn-sm fw-bold" type="button"><i class="fa-solid fa-eye"></i></a>
                    </div>
                </td>
            </tr>
            {{end}}
            <!-- FOR SECRETARIAT -->
            {{else}}
            {{range .viewRoutings}}
            <tr>
                <td class="text-center small">{{.ReceivedDate}}</td>
                <td class="text-center small">{{.TrackingNumber}}</td>
                {{if .ItemNumber}}
                <td class="text-center small">{{.ItemNumber}}</td>
                {{else}}
                <td class="text-center small">None</td>
                {{end}}
                <td class="small">{{.Summary}}</td>
                <td class="text-center small">{{.DocumentTag}}</td>
                <td class="text-center small">{{.Remarks}}</td>
                <td class="small">{{.UpdatedAt}}</td>
                <td class="text-center small">
                    <div class="d-grid gap-2 d-md-block">
                        <!-- encode -->
                        {{if eq .DocumentTag "For Agenda"}}
                        <a href="/api/routing/foragenda/{{.DocId}}" class="btn btn-primary btn-sm fw-bold"
                            type="button"><i class="fa-regular fa-calendar"></i>
                        </a>
                        {{end}}
                        {{if eq .DocumentTag "Referred to Committee"}}
                        <a href="/api/routing/viewagenda/{{.DocId}}/{{.ItemNumber}}"
                            class="btn btn-primary btn-sm fw-bold" type="button"><i class="fa-regular fa-calendar"></i>
                        </a>
                        {{end}}
                        <!-- view -->
                        <!-- view -->
                        <a href="/api/view/{{.DocId}}/{{.ItemNumber}}" class="btn btn-success btn-sm fw-bold" type="button"><i class="fa-solid fa-eye"></i></a>
                    </div>
                </td>
            </tr>
            {{end}}
            {{end}}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#routing_lists').DataTable({
            order: [[6, 'asc']]
        });
    });
</script>
{{end}}