{{template "header" .}}
<!-- DATATABLE -->
<!-- OFFLINE -->
<link rel="stylesheet" type="text/css" href="/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="/jquery.dataTables.js"></script>
<nav class="navbar navbar-expand-lg bg-body-tertiary border mb-5">
    <div class="container-fluid row justify-content-md-end">
        <div class="col-md-8">
            <small><a class="navbar-brand "><i class="bi bi-calendar-week"></i> ROUTING DOCUMENT
                    TABLE</a></small>
        </div>
        <div class="col-md-4 text-md-end">
            <small><a class="btn btn-success fw-bold btn-sm" href="/api/routing/receiving"><i
                        class="fa-solid fa-file-circle-plus"></i> REGISTER
                    DOCUMENT</a></small>
        </div>
    </div>
</nav>

{{template "routingTable" .}}

{{if eq .status 100}}
<script>
    Swal.fire(
        'Registration completed',
        'Adding receiving document is successful.',
        'Success'
    )
</script>
{{end}}
{{template "footer" .}}