{{template "header" .}}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<input type="text" id="baseURL" value="{{.baseURL}}" readonly hidden>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <small class="navbar-brand col-md-1 border-end border-2">SETTINGS</small>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#settingNav"
            aria-controls="settingNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="settingNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/api/settings/users"><i class="fa-solid fa-users-gear"></i> USER
                        MANGEMENT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/settings/proponents"><i class="fa-solid fa-users-gear"></i>
                        PROPONENTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/settings/committees"><i class="fa-solid fa-people-group"></i>
                        COMMITTEES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/api/settings/folder"><i
                            class="fa-solid fa-folder-tree"></i>
                        FOLDERS</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid py-2 shadow mb-3">
    <div class="container-fluid table-responsive">
        <table id="folder_table" class="table table-borderless table-hover table-sm">
            <thead>
                <tr>
                    <th class="text-center small d-none">FOLDER ID</th>
                    <th class="text-center small">FOLDER NAME</th>
                    <th class="text-center small">TOTAL DOCUMENTS</th>
                    <th class="text-center small">ACTION</th>
                </tr>
            </thead>
            <tbody>
                {{range .viewFolders}}
                <tr>
                    <td class="text-center small d-none" id="folder_id">{{.FolderId}}</td>
                    <td class="small">{{.Folder}}</td>
                    <td class="text-center small">{{.TotalFiles }}</td>
                    <td class="text-center small" id="remove">
                        <div class="d-grid gap-2 d-md-block">
                            <button class="btn btn-primary btn-sm fw-bold" id="update_btn"><i
                                    class="fa-regular fa-pen-to-square"></i>
                            </button>
                            {{if eq .TotalFiles 0}}
                            <button class="btn btn-danger btn-sm fw-bold" id="remove_btn"><i
                                    class="fa-regular fa-trash-can"></i>
                                {{end}}
                            </button>
                        </div>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>

<!-- MODAL -->
<div class="modal fade" id="folder_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="add" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="add">MODIFY FOLDER NAME</h1>
            </div>
            <div class="modal-body row">
                <div class="col-md-12">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="folderName" name="folderName" required>
                        <label for="folderName"><i class="fa-solid fa-file-signature"></i>
                            Folder Name</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="update_name" name="update_name">Update</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#folder_table').DataTable({
            order: [[2, 'desc']]
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#folder_table').on('click', '#update_btn', function () {
            var myModal = new bootstrap.Modal(document.getElementById("folder_modal"), {});
            myModal.show();

            var row = $(this).closest('tr');
            var fieldValues = [];

            row.find('td').each(function () {
                fieldValues.push($(this).text());
            });


            var baseURL = $('#baseURL').val();
            var endpoint = baseURL + "/api/settings/update_folder"

            $("#update_name").click(function () {
                newFolderName = $('#folderName').val();
                $.post(endpoint,
                    {
                        "folderId": fieldValues[0],
                        "folder": newFolderName
                    },
                    function (response, status) {
                        if (response.status == 100) {
                            Swal.fire({
                                title: "Update success",
                                text: response.message,
                                icon: "success",
                                allowOutsideClick: false,
                                allowEscapeKey: false,
                                confirmButtonText: "Done",
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    location.reload(true);
                                }
                            });

                        } else {
                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 2000,
                                timerProgressBar: true,
                            });
                            Toast.fire({
                                icon: "error",
                                title: response.message,
                            });
                        }
                    }
                );
            });
        });

        // Delete Folder
        $('#folder_table').on('click', '#remove_btn', function () {
            var row = $(this).closest('tr');
            var fieldValues = [];

            row.find('td').each(function () {
                fieldValues.push($(this).text());
            });

            var baseURL = $('#baseURL').val();
            var endpoint = baseURL + "/api/settings/remove_folder"
            
            Swal.fire({
                title: "Are you sure? this folder will be deleted",
                icon: "question",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, remove it"
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    $.post(endpoint,
                        {
                            "folderId": fieldValues[0],
                        },
                        function (response, status) {
                            if (response.status == 100) {
                                Swal.fire({
                                    title: "Success",
                                    text: response.message,
                                    icon: "success",
                                    allowOutsideClick: false,
                                    allowEscapeKey: false,
                                    confirmButtonText: "Done",
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        location.reload(true);
                                    }
                                });
                            } else {
                                const Toast = Swal.mixin({
                                    toast: true,
                                    position: "top-end",
                                    showConfirmButton: false,
                                    timer: 2000,
                                    timerProgressBar: true,
                                });
                                Toast.fire({
                                    icon: "error",
                                    title: response.message,
                                });
                            }
                        }
                    );
                } else if (result.isDenied) {
                    Swal.fire("Cancel", "", "info");
                }
            });


        });
    });
</script>
{{template "footer" .}}