{{template "header" .}}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <small class="navbar-brand col-md-1 border-end border-2">SETTINGS</small>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#settingNav"
            aria-controls="settingNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="settingNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-users-gear"></i>
                        USER MANGEMENT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#"><i class="fa-solid fa-users-gear"></i>
                        PROPONENTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#"><i class="fa-solid fa-people-group"></i>
                        COMMITTEES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#"><i class="fa-solid fa-folder-tree"></i>
                        FOLDERS</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid py-2 shadow mb-3">
    
</div>
{{template "footer" .}}