{{template "header" .}}
<!-- DATATABLE -->
<!-- ONLINE -->


<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<!-- OFFLINE -->
<link rel="stylesheet" type="text/css" href="/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="/jquery.dataTables.js"></script>
<nav class="navbar navbar-expand-lg bg-body-tertiary border mb-3">
    <div class="container-fluid row justify-content-md-start">
        <div class="col-md-8">
            <small><a class="navbar-brand " href="/api/routing"><i class="bi bi-calendar-week"></i> DOCUMENT
                    TRACKING</a></small>
        </div>
        <!-- <div class="col-md-4 text-md-end">
            <small><a class="btn btn-success fw-bold btn-sm"
                    href="/api/routing/receiving"><i
                        class="fa-solid fa-file-circle-plus"></i> REGISTER
                    DOCUMENT</a></small>
        </div> -->
    </div>
</nav>
<div class="row m-1">
    <!-- <div class="col-md-1 mb-3">
        <div class="form-check">
            <input class="form-check-input" type="radio" id="r_referred" name="referredApproved">
            <label class="form-check-label" for="r_referred">
                Referred
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="r_approved" name="referredApproved">
            <label class="form-check-label" for="r_approved">
                Approved
            </label>
        </div>
    </div> -->
    <div class="col-md-2">
        <div class="form-floating">
            <select class="form-select" id="monthReceived" name="monthReceived">
                <option selected disabled>Select</option>
                {{ range .monthLists}}
                <option value="{{.MonthID}}">{{.Month}}</option>
                {{end}}
            </select>
            <label for="monthReceived">Month Received</label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-floating">
            <select class="form-select" id="yearReceived" name="yearReceived">
                <option selected disabled>Select</option>
                {{ range .yearLists}}
                <option value="{{.Year}}">{{.Year}}</option>
                {{end}}
            </select>
            <label for="yearReceived">Year Received</label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-floating">
            <select class="form-select" id="author" name="author">
                <option selected disabled>Select</option>
                {{ range .proponents}}
                <option value="{{.Name}}">{{.Name}}</option>
                {{end}}
            </select>
            <label for="yearReceived">Motioned By</label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-floating">
            <select class="form-select" id="LawType" name="LawType">
                <option selected disabled>Select</option>
                <option value="Ordinance">Ordinance</option>
                <option value="Resolution">Resolution</option>
            </select>
            <label for="yearReceived">Legislative Measure</label>
        </div>
    </div>

    <div class="col-md-2">
        <div class="col-md-12 mb-3">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="LawNo" name="LawNo">
                <label for="LawNo">Law No.</label>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-1">
        <div class="col-md-1 mb-3">
            <div class="form-check">
                <input class="form-check-input" type="radio" id="r_borrowed" name="BorDis">
                <label class="form-check-label" for="r_borrowed">
                    Borrowed
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="r_disposed" name="BorDis">
                <label class="form-check-label" for="r_disposed">
                    Disposed
                </label>
            </div>
        </div>
    </div> -->

    <div class="col-md-2">
        <div class="d-grid gap-1 col-md-12 mx-auto">
            <button class="btn btn-primary fw-bold btn-sm"><i class="fa-solid fa-repeat"></i> RESET</button>
            <button class="btn btn-success fw-bold btn-sm"><i class="fa-solid fa-search"></i> APPLY</button>
        </div>
    </div>

    <hr>
    <div class="container-fluid py-2 shadow">
        <table id="example" class="table table-responsive table-striped table-hover table-sm" style="width:100%">
            <thead>
                <tr>
                    <th class="text-center">TRACKING NUMBER</th>
                    <th class="text-center">ITEM NUMBER</th>
                    <th class="text-center">SUMMARY</th>
                    <th class="text-center">RECEIVED</th>
                    <th class="text-center">CALENDARED</th>
                    <th class="text-center">ENACTED</th>
                    <th class="text-center">FORWARDED<br>MAYOR</th>
                    <th class="text-center">FORWARDED<br>STA. CRUZ</th>
                    <th class="text-center">RELEASED</th>
                    <th class="text-center">PUBLISHED</th>
                    <th class="text-center">FILED</th>
                    <th class="text-center">ACTION</th>
                </tr>
            </thead>
            <tbody>
                {{range .tracking}}
                <tr>
                    <td>{{ .TrackingNumber}}</td>
                    <td>{{ .ItemNumber}}</td>
                    <td>{{ .Summary}}</td>
                    <td>{{ .ReceiveDate}}</td>
                    <td>{{ .DateCalendared}}</td>
                    <td>{{ .DateEnacted}}</td>
                    <td>{{ .DateFMayor}}</td>
                    <td>{{ .DateFSP}}</td>
                    <td>{{ .DateReleased}}</td>
                    <td>{{ .DatePublished}}</td>
                    <td>{{ .DateFiled}}</td>
                    <td>
                        <div class="d-grid col-md-4 mx-auto my-1">
                            <!-- view -->
                            <a href class="btn btn-success btn-sm fw-bold" type="button"><i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <div class="d-grid col-md-4 mx-auto my-1">
                            <!-- download -->
                            <a href="/api/routing/download/{{.ReceivedFile}}"
                                class="btn btn-secondary btn-sm fw-bold"><i class="fa-solid fa-download"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>

    {{if eq .registrationStatus 100}}
    <script>
        Swal.fire(
            'Registration completed',
            'Adding receiving document is successful.',
            'Success'
        )
    </script>

    {{end}}
    {{template "footer" .}}