{{template "header" .}}
<!-- DATATABLE -->
<!-- ONLINE -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<!-- OFFLINE -->
<link rel="stylesheet" type="text/css" href="/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="/jquery.dataTables.js"></script>
<nav class="navbar navbar-expand-lg bg-body-tertiary border mb-3">
    <div class="container-fluid row justify-content-md-start">
        <div class="col-md-8">
            <small><a class="navbar-brand " href="/api/routing"><i class="bi bi-calendar-week"></i> DOCUMENT
                    TRACKING</a></small>
        </div>
    </div>
</nav>
<div class="row m-1 py-1">
    <div class="col-md-3">
        <div class="form-floating">
            <select class="form-select" id="monthReceived" name="monthReceived">
                <option selected disabled>Select</option>
                {{ range .monthLists}}
                <option value="{{.MonthID}}">{{.Month}}</option>
                {{end}}
            </select>
            <label for="monthReceived">Month Received</label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-floating">
            <select class="form-select" id="yearReceived" name="yearReceived">
                <option selected disabled>Select</option>
                {{ range .yearLists}}
                <option value="{{.Year}}">{{.Year}}</option>
                {{end}}
            </select>
            <label for="yearReceived">Year Received</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-floating">
            <select class="form-select" id="author" name="author">
                <option selected disabled>Select</option>
                {{ range .proponents}}
                <option value="{{.Name}}">{{.Name}}</option>
                {{end}}
            </select>
            <label for="yearReceived">Motioned By</label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="d-grid gap-2 d-md-block text-center py-2">
            <button class="btn btn-primary fw-bold"><i class="fa-solid fa-repeat"></i> RESET</button>
            <button class="btn btn-success fw-bold"><i class="fa-solid fa-search"></i> APPLY</button>
        </div>
    </div>

    <div class="container-fluid py-3">
        <table id="tracking-table" class="table table-striped table-borderless table-hover table-sm py-2" style="width:100%">
            <thead>
                <tr>
                    <th class="text-center"><small>TRACKING NUMBER</small></th>
                    <th class="text-center"><small>ITEM NUMBER</small></th>
                    <th class="text-center"><small>LAW NO</small></th>
                    <th class="text-center"><small>SUMMARY</small></th>
                    <th class="text-center"><small>RECEIVED</small></th>
                    <th class="text-center"><small>CALENDARED</small></th>
                    <th class="text-center"><small>ENACTED</small></th>
                    <th class="text-center"><small>FWD.<br>MAYOR</small></th>
                    <th class="text-center"><small>FWD.<br>STA.CRUZ</small></th>
                    <th class="text-center"><small>RELEASED</small></th>
                    <th class="text-center"><small>PUBLISHED</small></th>
                    <th class="text-center"><small>FILED</small></th>
                    <th class="text-center"><small>ACTION</small></th>
                </tr>
            </thead>
            <tbody>
                {{range .tracking}}
                <tr>
                    <td class="text-center"><small>{{ .TrackingNumber}}</small></td>
                    <td class="text-center"><small>{{ .ItemNumber}}</small></td>
                    {{if .LawType}}
                    <td class="text-center"><small>{{ .LawType }} No.{{ .LawNumber }} s.{{.Series}}</small></td>
                    {{else}}
                    <td class="text-center"><small></small></td>
                    {{end}}
                    <td class="text-center"><small>{{ .Summary}}</small></td>
                    <td class="text-center"><small>{{ .ReceivedDate}}</small></td>
                    <td class="text-center"><small>{{ .Calendared}}</small></td>
                    <td class="text-center"><small>{{ .EnactedDate}}</small></td>
                    <td class="text-center"><small>{{ .MayorDate}}</small></td>
                    <td class="text-center"><small>{{ .StaCruzDate}}</small></td>
                    <td class="text-center"><small>{{ .ReleasedDate}}</small></td>
                    <td class="text-center"><small>{{ .PublishedDate}}</small></td>
                    <td class="text-center"><small>{{ .FiledDate}}</small></td>
                    <td class="text-center">
                        <div class="d-grid gap-2 d-md-block">
                            <!-- view -->
                            <a href class="btn btn-success btn-sm fw-bold" type="button"><i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function () {
            $('#tracking-table').DataTable({
                order: [[3, 'desc']]
            });
        });
    </script>

    {{if eq .status 100}}
    <script>
        Swal.fire(
            'Registration completed',
            'Adding receiving document is successful.',
            'Success'
        )
    </script>

    {{end}}
    {{template "footer" .}}